name: CI

on:
  workflow_dispatch:
  pull_request:

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: mfinelli/setup-shfmt@v3
      - name: Install actionlint
        uses: open-turo/action-install-release@v1
        with:
          repository: rhysd/actionlint
      - name: Pre-commit
        uses: open-turo/action-pre-commit@v2
      - name: Check release notes on pull_request
        if: github.event_name == 'pull_request'
        uses: open-turo/actions-release/lint-release-notes@v4
  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - run: ./script/test
